<div class="song">
    <img src="<%= song.thumbnails?.high.url %>" alt="<%= %>">
    <div class="songText">
        <h2 class="songName"><%= song.title %></h2>
        <p class="songArtist"><span>Autor</span> <%= song.channelTitle %></p>
        <span class="songRequestedBy"><span>Música enviado por</span> Aluno Nº<%= song.requestedBy.regNumber %></span>
    </div>
</div>